* {
    margin: 0;
    padding: 0;
}

.front_page {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    box-sizing: border-box;
}

.front_page_image {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 8%;
    padding-left: 5%;
}

.front_page_content {
    object-position: center;
    text-align: right;
    display: block;
    font-size: 50px;
    color: black;
    padding-right: 5%;

}

.try_page_image {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 8%;
    padding-left: 5%;
}

.try_page_content {
    object-position: center;
    text-align: right;
    display: block;
    font-size: 40px;
    color: white;
    padding-right: 5%;

}

.row::after {
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
}
  
.column {
    box-sizing: border-box;
    float: left;
    width: 20%;
}

.column1 {
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.column2 {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
}

.column3 {
    box-sizing: border-box;
    float: left;
    width: 20%;
}

.medium_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 4%;
    padding-left: 3%;
}

.github_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.c4l_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.quora_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.linkedin_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.yka_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.kcg_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}

.kv_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 1%;
    padding-left: 3%;
}


.spotify_icon {
    object-position: top;
    text-align: right;
    display: block;
    padding-top: 4%;
    padding-right: 5%;
}

.youtube_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-left: 5%;
}

.netflix_icon {
    object-position: top;
    text-align: right;
    display: block;
    padding-right: 5%;
}

.news_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-left: 18%;
}


.amazonprime_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 2%;
    padding-left: 5%;
}

.hangouts_icon {
    object-position: bottom;
    text-align: left;
    display: block;
    padding-top: 2%;
    padding-left: 22%;
}

.messenger_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 4%;
    padding-left: 8%;
}

.instagram_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 3%;
    padding-left: 23%;
}

.facebook_icon {
    object-position: top;
    text-align: left;
    display: block;
    padding-top: 5%;
    padding-left: 8%;
}

.share_page_content {
    object-position: top;
    text-align: left;
    display: block;
    font-size: 40px;
    color: black;
    padding-top: 5%;
    padding-right: 5%;
    width: 50vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    padding-left: 38%;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
  }
 

